@font-face {
  font-family: action-jackson;
  src: url(../fonts/action-jackson.regular.ttf);
}

body {
  padding-top: 1em;
  background-color: #333;
  color: #FFF;
}

h1,
h2,
h3,
h4 {
  color: #FCDF15;
}

.logo {
  font-family: action-jackson, Georgia, Serif;
  font-size: 3em;
}

input {
  color: #333;
}
